<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="FSharp.Data.SqlClient" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <!--<connectionStrings configSource="connectionStrings.Azure.config"/>-->
  <connectionStrings>
    <add name="AdventureWorks" connectionString="Server=tcp:localhost,1434;Initial Catalog=AdventureWorks;User ID=sa;Password=P@ssw0rd!" />
    <add name="MasterDb" connectionString="Server=tcp:localhost,1434;Initial Catalog=master;User ID=sa;Password=P@ssw0rd!" />
  </connectionStrings>
</configuration>