<connectionStrings>
  <add name="AdventureWorks" connectionString="Server=tcp:localhost,1434;Initial Catalog=AdventureWorks;User ID=sa;Password=P@ssw0rd!" />
  <add name="AdventureWorksDesignOnly" connectionString="Server=tcp:localhost,1434;Initial Catalog=AdventureWorks;User ID=sa;Password=P@ssw0rd!" />
  <add name="MasterDb" connectionString="Server=tcp:localhost,1434;Initial Catalog=master;User ID=sa;Password=P@ssw0rd!" />
</connectionStrings>
